# SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>
#
# SPDX-License-Identifier: MIT

# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# yarn2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Local configuration
foundryconfig.json

# Distribution files
dist
metron.zip

# ESLint
.eslintcache

# Junit results
junit.xml
/stats.html
/src/.vitest-result.json
/coverage/
